language: go
sudo: false
go:
  - 1.7.x
  - 1.8.x
  - 1.9.x
  - 1.10.x
  - 1.11.x
  - master
before_install:
  - go get github.com/mattn/goveralls
  - go get github.com/stretchr/testify
install:
  - go version
  - go build -v ./...
branches:
  only:
    - master
script:
  - go vet -v ./...
  - go test -v ./... -bench=. -benchmem
after_success:
  - $HOME/gopath/bin/goveralls -service=travis-ci